@import "~bootstrap/scss/bootstrap";

body {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Lato:wght@100;300;700&display=swap');
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@for $i from 1 through 100 {
  .w-#{$i} {
    width: $i*1% !important;
  }
  .h-#{$i} {
    height: $i*1% !important;
  }
}

.text-muted {
  color: red !important;
  font-size: 10px;
  padding-left: 1%;
}

.form-control {

  
  &::placeholder {
    font-size: 12px;
  }
}

